pymssql==2.2.7

streamlit

langchain

langchain-openai

langchain-community

charset-normalizer==2.0.9

openai

pyyaml

python-dotenv

sqlalchemy

streamlit-chat

scikit-learn

selenium

beautifulsoup4

pyodbc

ipykernel

faiss-cpu








